.page {
  min-height: 100vh; /* use min to get rid of the scrollbars */
  min-width: 100vw;
  color: #f5f5f5;

  text-align: center;
  border-radius: 8px;
  background-image: radial-gradient(
    #444444,
    #333333,
    #222222,
    #111111,
    #000000
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 50px;
  font-size: 1.5rem;
}

.pageInner {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.about {
  background-color: #06030378;
  padding: 20px;
  border-radius: 12px;
  width: 40%;
}
.start {
  background-color: #06030378;
  border-radius: 12px;
  padding: 20px;
  width: 40%;
  align-items: center;
}
select {
  padding: 10px;
  margin: 20px;
  width: 80%;
  background-color: #060303c2;
  color: white;

  text-align: center;
  font-size: large;

  border-radius: 8px;
}
.displaybox {
  /* border:4px solid yellow; */
  background-color: #060303c2;
  border-radius: 12px;
  width: 72%;
  margin: 0 auto;
  padding: 20px;
}
ul {
  list-style-type: none;
  text-align: left;
  font-size: large;
}
/*add transitions to each one*/
.select-bg {
  box-shadow: 0 0 20px 2px  #060303c2;
}
.shame-bg {
  box-shadow: 0 0 20px 2px #800000;
}
.guilt-bg {
   box-shadow: 0 0 20px 2px #8B0000;
}
.apathy-bg {
   box-shadow: 0 0 20px 2px #A52A2A;
}
.grief-bg {
   box-shadow: 0 0 20px 2px #B22222;
}
.fear-bg {
 box-shadow: 0 0 20px 2px #DC143C;
}
.desire-bg {
   box-shadow: 0 0 20px 2px #FF4500;
}
.anger-bg {
   box-shadow: 0 0 20px 2px #FF6347;
}
.pride-bg {
   box-shadow: 0 0 20px 2px #FF8C00;
}
.courage-bg {
   box-shadow: 0 0 20px 2px #FFA500;

}
  .neutrality-bg {
   box-shadow: 0 0 20px 2px #FFD700;
  }

.willingness-bg {
   box-shadow: 0 0 20px 2px #FFFF00;
}
.acceptance-bg {
   box-shadow: 0 0 20px 2px #ADFF2F;
}
.reason-bg {
   box-shadow: 0 0 20px 2px #00FF7F;
}
.love-bg {
   box-shadow: 0 0 20px 2px #00FA9A;
}
.joy-bg {
   box-shadow: 0 0 20px 2px #00CED1;
}
.peace-bg {
   box-shadow: 0 0 20px 2px #1E90FF;
}
.enlightenment-bg {
   box-shadow: 0 0 20px 2px #9370DB;
}
.fade{
    transition: box-shadow 1s ease-in-out;

}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
