p {
  /* color: #000000; */
}

h1 {
  /* color: #000000; */

}
.page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  border-radius: 8px;
  background-image: radial-gradient(
    #444444,
    #333333,
    #222222,
    #111111,
    #000000
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pageInner {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid white; */
  margin: 0 auto;
}
.about {
  /* border: 1px solid green; */
  color:white;
  background-color: #06030378;
  padding:20px;
  border-radius: 12px;
  width: 40%;
}
.start {
  border: 1px solid orange;
  border-radius: 12px;
    padding:20px;
  width: 40%;
  align-items: center;
}
.displaybox {
  background-color: #fffff0;
  border: 1px solid blue;
  border-radius: 12px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;;
}
ul{
    list-style-type: none;
text-align: left;
}
/*add transitions to each one*/
.shame-bg {
  background-image: linear-gradient(to bottom, #ff000049, #ffffff);
}
.guilt-bg {
  background-image: linear-gradient(to bottom, #ef500b42, #ffffff);
}
.apathy-bg {
  background-image: linear-gradient(to bottom, #f893105b, #ffffff);
}
.grief-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.fear-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.desire-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.anger-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.pride-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.courage-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.neutrality-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.willingness-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.acceptance-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.reason-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
.love-bg {
  background-image: linear-gradient(to bottom, #00fa9a, #00ced1);
}
.joy-bg {
  background-image: linear-gradient(to bottom, #00ced1, #1e90ff);
}
.peace-bg {
  background-image: linear-gradient(to bottom, #90c4f7, #b28cfd);
}
.enlightenment-bg {
  background-image: linear-gradient(to bottom, #b28cfd, #ffffff);
}
