.page {
  min-height: 100vh; /* use min to get rid of the scrollbars */
  min-width: 100vw;
  color: #f5f5f5;

  text-align: center;
  border-radius: 8px;
  background-image: radial-gradient(
    #444444,
    #333333,
    #222222,
    #111111,
    #000000
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 50px;
  font-size: 1.5rem;
}

.pageInner {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.about {
  background-color: #06030378;
  padding: 20px;
  border-radius: 12px;
  width: 40%;
}
.start {
  background-color: #06030378;
  border-radius: 12px;
  padding: 20px;
  width: 40%;
  align-items: center;
}
select {
  padding: 10px;
  margin: 10px;
  width: 80%;
  background-color: #060303c2;
  color: white;

  text-align: center;
  font-size: large;

  border-radius: 8px;
}
.displaybox {
  background-color: #060303c2;
  border-radius: 12px;
  width: 72%;
  margin: 0 auto;
  padding: 20px;
}
ul {
  list-style-type: none;
  text-align: left;
  font-size: large;
}
/*add transitions to each one*/
.select-bg {
  background-color: #060303c2;
}
.shame-bg {
  background-color:#800000;
}
.guilt-bg {
  background-color:#8B0000
;
}
.apathy-bg {
  background-color:#A52A2A;
}
.grief-bg {
  background-color:#B22222;
}
.fear-bg {
  background-color:#DC143C;
}
.desire-bg {
  background-color:#FF4500;
}
.anger-bg {
  background-color:#FF6347;
}
.pride-bg {
  background-color:#FF8C00;
}
.courage-bg {
  background-color:#FFA500;

}
  .neutrality-bg {
  background-color:#FFD700;
  }

.willingness-bg {
  background-color:#FFFF00;
}
.acceptance-bg {
  background-color:#ADFF2F;
}
.reason-bg {
  background-color:#00FF7F;
}
.love-bg {
  background-color:#00FA9A;
}
.joy-bg {
  background-color:#00CED1;
}
.peace-bg {
  background-color:#1E90FF;
}
.enlightenment-bg {
  background-color:#9370DB;
}
.fade{
    transition: background-color 1s ease-in-out;

}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
